#canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

#gui {
    position: absolute;
    top: var(--navigation-height);
    padding-top: 10px;
    display: flex;
    width: calc(100% - 24px);
    z-index: 1;
    user-select: none;
}

#show-nav {
    height: fit-content;
}