.card-group {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.card {
    border-radius: 8px;
    background: var(--second-dark-color);
    padding: 8px;
    box-shadow: 0px 4px 8px black;
    width: 150px;
}

.card .img-holder {
    width: 150px;
    height: 150px;
    margin-bottom: 4px;
}

.card .style-button {
    width: 100%;
}