body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#auth-form {
    margin-top: 50px;
    margin-bottom: 10px;
    background-color: var(--sec-elem-color);
    border: 1px solid var(--main-bg-color);
    border-radius: 7px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
  
#auth-form input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--main-bg-color);
    border-radius: 7px;
    background-color: var(--main-bg-color);
    color: white;
    font-size: 15px;
}
  
#auth-form button {
    width: calc(50% - 3px);
}
  
#register {
    margin-top: 10px;
}

h1, #info {
    color: rgb(233, 233, 233);
}