@import url('https://fonts.googleapis.com/css2?family=Baloo&family=Nunito:wght@500;700&display=swap');

:root {
    --main-bg-color: #2c2f33;
    --main-btn-color: #3c9b40;
    --sec-elem-color: #23272a;
    --thr-elem-color: #1b1f22;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 7px;
    color: rgb(230, 230, 230);
    overflow-x: hidden;
}

/* ELEMS */

h1 {
    margin-top: 0;
}

a {
    color: #5fb963;
}

p {
    margin-block: 5px;
}

.nowrap {
    flex-wrap: nowrap;
}

/* BUTTON */

.style-button {
    padding: 10px;
    max-height: 40px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    background-color: var(--main-btn-color);
    align-items: center;
    align-content: center;
    font-family: 'Nunito', sans-serif;
}

.style-button:hover {
    background-color: #4aac4d;
}

.style-button.physical {
    transition: transform 0.027s;
    box-shadow: 0 5px #1a1a1a;
    transform: translateY(-4px);
    margin-top: 8px;
}

.style-button.physical:active {
    box-shadow: 0 0px #000;
    transform: translateY(1px);
}

/* small */

.style-button.small {
    padding: 5px;
}

.style-button.small.physical {
    box-shadow: 0 3px #1a1a1a;
    transform: translateY(-2px);
    margin-top: 6px;
}

.style-button.small.physical:active {
    box-shadow: 0 0px #000;
    transform: translateY(1px);
}

/* CARD */

.card-group {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 600;
    background-color:var(--sec-elem-color);
    word-wrap: break-word;
    align-items: center;
    padding: 5px;
    box-shadow: 0px 3px 5px #000000;
}

.card .style-button {
    width: 100%;
}

/* IMAGE HOLDER */

.img-holder {
    border-radius: 7px;
    width: 100%;
    background-color: var(--thr-elem-color);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-holder img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}