body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    max-width: 600px;
}

.panel {
    margin-top: 20px;
    background: var(--second-color);
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px black;
    text-align: center;
    width:auto;
}

/* GAME */

#game .img-holder {
    max-width: 600px;
    max-height: 400px;
    border: 2px solid var(--second-dark-color);
    margin-bottom: 20px;
}

#game .style-button {
    width: 100%;
}

/* UNDER GAME */

#create {
    width: 100%;
    margin-bottom: 20px;
}

#rooms {
    display: grid;
    grid-gap: 28px;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(140px, auto));
}

.room {
    border-radius: 8px;
    background: var(--second-dark-color);
    padding: 8px;
    box-shadow: 0px 4px 8px black;
    width: 140px;
    height: fit-content;
}

.room .style-button {
    width: 100%;
}