<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/global/global.css">
    <link rel="stylesheet" href="/static/home/home.css">
</head>
<body>
    {{ template "header" .Header }}
    <main>
    
    {{ if eq .Data.Username "" }}
        <h1>Hello, Guest!</h1>
    {{ else }}
        <h1>Welcome back, {{ .Data.Username }}!</h1>
    {{ end }}
    <h2>Available online games ({{ len .Data.Games }}):</h2>
    <div class="card-group">
        {{ range .Data.Games }}

        <a href="/games/hub/{{.ID }}">
            <div class="card">
                <div class="img-holder">
                    <img src="/image/gameicon/{{ .ID }}">
                </div>
                <button class="style-button small physical">{{ .Title }}</button>
            </div>
        </a>

        {{ end }}
    </div>

    </main>
</body>
</html>