<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/global/style.css">
</head>
<body>
    <h1>Welcome back, {{ .Name }}!</h1>
    <div class="card-group">
        <div class="card">
            <div class="img-holder">
                <img src="http://placehold.it/100x100">
            </div>
            <button class="style-button small physical">hello</button>
        </div>
    </div>
</body>
</html>