<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/global/style.css">
    <link rel="stylesheet" href="/static/home/style.css">
</head>
<body>
    {{ template "header" . }}
    <main>

    <h1>Hello, {{ .Name }}!</h1>
    <h2>Available online games ({{ len .Games }}):</h2>
    <div class="card-group">
        {{ range .Games }}
        <a href="/game/{{ .ID }}">
            <div class="card">
                <div class="img-holder">
                    <img src="/image/gameicon/{{ .ID }}">
                </div>
                <button class="style-button small physical">{{ .Title }}</button>
            </div>
        </a>
        {{ end }}
    </div>

    </main>
</body>
</html>