<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/global/global.css">
    <link rel="stylesheet" href="/static/room/room.css">
    <title>{{ .Data.Game.Title }}</title>
</head>
<body>
    {{ template "navigation" .Navigation }}
    <main data-room-id="{{ .Data.RoomID }}" data-game-id="{{ .Data.Game.ID }}">

        <canvas id="canvas"></canvas>
        <div id="gui">
            <h2 id="message"></h2>
            <div class="separator"> </div>
            <button class="style-button small" id="show-nav">↓</button>
        </div>

    </main>
    
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Room -->
    <script src="/static/room/script.js"></script>

    <!-- Game -->
    <script src="/static/game/script.js"></script>
    
    <!-- Game Script -->
    <script src="/gameassets/{{ .Data.Game.ID }}/script.js"></script>
</body>
</html>