<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/global/style.css">
    <title>{{ .Data.Game.Title }}</title>
</head>
<body>
    {{ template "header" .Header }}
    <main>
        
    <h1> {{ .Data.Game.Title }} gameplay goes here </h1>
    
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="/static/game/gameplay.js"></script>
</body>
</html>