<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/global/global.css">
    <link rel="stylesheet" href="/static/game/hub.css">
    <title>{{ .Data.Game.Title }}</title>
</head>
<body>
    {{ template "header" .Header }}
    <main data-game-id="{{ .Data.Game.ID }}">
        
    <div id="game" class="panel">
        <div class="img-holder">
            <img src="/image/gamethumbnail/{{ .Data.Game.ID }}">
        </div>
        <h1>{{ .Data.Game.Title }}</h1>
        <a href="/game/{{ .Data.Game.ID }}/play"><button class="style-button physical big-font">Play in a random room</button></a>
    </div>
    <div id="under-game" class="panel">
        <button class="style-button physical big-font" id="create">Create and join a room</button>
        <div id="rooms">

            <div class="room">
                <h3>bobie's room</h3>
                <button class="style-button physical small">0/10</button>
            </div>
            
        </div>
    </div>
    
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="/static/game/hub.js"></script>
</body>
</html>