<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/global/style.css">
    <link rel="stylesheet" href="/static/game/style.css">
    <title>{{ .Data.Game.Title }}</title>
</head>
<body>
    {{ template "header" .Header }}
    <main>
        
    <div id="game">
        <div class="img-holder">
            <img src="/image/gamethumbnail/{{ .Data.Game.ID }}">
        </div>
        <h1>{{ .Data.Game.Title }}</h1>
        <a href="/game/{{ .Data.Game.ID }}/play"><button class="style-button physical big-font">Play</button></a>
    </div>
    
    </main>
</body>
</html>