<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Get Started</title>
	<link rel="stylesheet" href="/static/global/global.css">
	<link rel="stylesheet" href="/static/auth/auth.css">
</head>
<body>
	{{ template "navigation" .Navigation }}
	<main>

	<h1>Welcome to Online Canvas Games!</h1>
	<div id="auth-form">
		<input type="text" autocomplete="off" placeholder="Username" id="username" maxlength="31">
		<input type="password" placeholder="Password" id="password" maxlength="72">
		<button class="style-button physical" id="login">Log In</button>
		<button class="style-button physical" id="register">Register</button>
	</div>
	<p id="info">Create a new account or log in to an existing one</p>

	</main>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="/static/auth/script.js"></script>
</body>
</html>