<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Get Started</title>
	<link rel="stylesheet" href="/static/global/style.css">
	<link rel="stylesheet" href="/static/auth/style.css">
</head>
<body>
	<h1>Welcome to Online Canvas Games!</h1>
	<div id="auth-form">
		<input type="text" placeholder="Username" id="username" maxlength="31" required>
		<input type="password" placeholder="Password" id="password" maxlength="72" required>
		<button class="style-button" id="login">Login</button>
		<button class="style-button" id="register">Register</button>
	</div>
	<p id="info">Create a new account or log in to an existing one</p>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="/static/auth/script.js"></script>
</body>
</html>