body {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    
    top: calc(48% - var(--navigation-height));
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#auth-form {
    margin-top: 52px;
    margin-bottom: 12px;
    background: var(--second-dark-color);
    border-radius: 8px;
    padding: 24px;
    width: 300px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}
  
#auth-form input {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid var(--second-color);
    border-radius: 8px;
    background: var(--second-color);
    color: var(--text-color);
    font-size: 16px;
}

#auth-form input:focus {
    outline: none;
}
  
#auth-form button {
    width: calc(50% - 3px);
}